.logo {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo h1 {
  font-size: 1.1rem;
  margin-left: 1.2rem;
  font-weight: bold;
  color: white;
}
.logo h1 span {
  opacity: 0.4;
  font-weight: bold;
}

.header {
  width: 95%;
  max-width: 800px;

  padding-top: 14px;
  padding-bottom: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: white;
}
.header a:hover {
  color: hsl(230, 87%, 69%);
}
